.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;

    .bottomApplyTourist{
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;
        flex-direction: column;

        input{
            color: var(--primaryColor);
        }
    }
}