.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;

    .bottomAdmin{
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;
        flex-direction: column;

        .card{
            height: 20%;
            width: 55%;
    
            .fig{
                max-width: 50%;
            }
            .card-body{
                p{
                    padding: 0;
                }
            }
        }
    }
}