.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;

    .bottomTripTourist{
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;

        .card{
            height: 38%;
    
            .fig{
                max-width: 55%;
            }
        }

        .card.read{
            height: 38%;
            opacity: 0.5;
    
            .fig{
                max-width: 55%;
            }
        }
    }

}