.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;

    .bottomTripTourist{
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;
        flex-direction:column;
        height: 100%;

        .btn.submitTrip{
            background: var(--primaryColor);
            color: white;
        }

        h1{
            margin-top: 0;
        }

        .card{
            height: 38%;
            width: 100%;
    
            .fig{
                max-width: 55%;
            }
            
            .pColor{
                color: var(--primaryColor);
            }

            .btn.deleteTrip{
                background: red;
                color: white;
            }
            
        }

        .card.past{
            height: 38%;
            width: 100%;
            opacity: 0.5;
    
            .fig{
                max-width: 55%;
            }
            
            .pColor{
                color: var(--primaryColor);
            }

            .btn.deleteTrip{
                background: red;
                color: white;
            }
            
        }


    }
}